extends ./layout/full

block design
	style(type="text/css")
		#{page.node.safeCss}
		#{page.safeCss}
		
block main
	.paper
		include _pageNav
		include _flash
		.paper-title.page-title
			a(href="/#{page.node.id}") #{page.node.title} 
			i.icon-chevron-right.icon-white
			| 
			a(href="") #{page.title}
		.paper-content
			!= page.content