extends ../layouts/default/narrow
	
block main

	mixin inputText(name, text)
		label.control-label(for="input_#{name}") #{text}
		.controls
			input(type="text", id="input_#{name}", name="page[#{name}]", value="#{page[name]}")
			span.help-inline #{errors[name]}
				
	mixin inputControl(name, text)
		- if (errors[name])
			.control-group.error
				mixin inputText(name, text)
		- else
			.control-group
				mixin inputText(name, text)
	
	
	form.form-horizontal(action='/set/#{nid}/#{page.id}', method='post')
		
		mixin inputControl('id', 'id')
		
		.control-group
			.controls
				button.btn.btn-primary(type='submit') 保存
				
		input(type='hidden', name='page[_id]', value="#{page._id}")
		input(type="hidden", name="_csrf", value="#{token}")
				